#personalInfo {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#personalInput {
  width: 90%;
  margin: 0 auto;
  height: 25px;
}

.profileImage {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.aboutMe {
  border: 3px solid gray;
  border-radius: 10px;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
}

.cardText {
  display: flex;
  flex-direction: column;
}

.cardText > label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
  padding-left: 5%;
}

.userImg {
  /* max-width: 50%; */
  max-width: 175px;
  border: 1px solid #88cef2;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .cardText > label {
      font-size: 14px;
  }
  .userImg {
    max-width: 225px;
  }
}
@media only screen and (min-width: 769px) {
  .cardText > label {
      font-size: 16px;
  }
  .userImg {
    max-width: 275px;
  }
}
@media only screen and (min-width: 1024px) {
  .cardText > label {
      font-size: 18px;
  }
  .cardTitle {
    font-size: 22px;
  }
  .userImg {
    max-width: 325px;
  }
  .cardText button {
    width: 90%;
    margin: 10px auto 20px;
  }
}