#personalInfo {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#personalInput {
  width: 90%;
  margin: 0 auto;
  height: 25px;
}

.profileImage {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.aboutMe {
  border: 3px solid gray;
  border-radius: 10px;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
}

.cardText {
  display: flex;
  flex-direction: column;
}

.cardText > label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
  padding-left: 5%;
}

.cardText > input {
  /* height: 50px; */
}

.userImg {
  width: 50%;
  border: 1px solid gray;
  border-radius: 10px;
}
