#navbar-custom {
	display: flex;
	align-items: center;
	height: 56px;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	padding: 0;
}

#navbar-custom .navbar {
	height: 56px;
}

#navbar-custom .navbar-brand {
	display: flex;
	padding-left: 16px;
	padding-right: 8px;
	margin: 0;
	align-items: center;
}

#navbar-custom .navbar-brand:hover {
	background-color: #56baed;
}

#navbar-custom #logo {
	width: 50px;
	height: 50px;
}

#navbar-custom a path {
	fill: black;
}

#navbar-custom a:hover path {
	fill: white;
}

#navbar-custom .nav-link {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	font-weight: bold;
	color: black;
	height: 56px;
	padding: 0 8px;
	transition: all 0.3s ease-in-out;
}

#navbar-custom .nav-link:hover,
#navbar-custom .nav-link.active {
	color: white;
	background-color: #56baed;
}

#navbar-custom .navbar-toggler {
	order: 1;
	border: 1px solid black;
	opacity: 1;
	margin-right: 20px;
}

#navbar-custom .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='black' stroke-linecap='round' stroke-miterlimit='20' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* icon toggler, pure css
#navbar-custom #responsive-navbar-nav.show ~ #highlights-icons {
	display: none;
}
*/

/* responsive */

/* css sorting ??? */

#navbar-custom #responsive-navbar-nav .navbar-collapse-backdrop {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

#navbar-custom #responsive-navbar-nav.show .navbar-collapse-backdrop {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.2s linear;
}

@media only screen and (max-width: 991px) {
	#navbar-custom #responsive-navbar-nav {
		background-color: white;
		order: 2;
		border-bottom: 5px solid #56baed;
	}

	#navbar-custom #responsive-navbar-nav .nav-link {
		padding-left: 20px;
	}

	#navbar-custom #responsive-navbar-nav .navbar-collapse-backdrop {
		display: block;
	}
}

@media only screen and (min-width: 992px) {
	#navbar-custom #responsive-navbar-nav .navbar-collapse-backdrop {
		display: none;
	}
}
