#userProfilePage {
  width: 95%;
  padding-top: 0;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #88cef2;
  height: auto !important;
  margin: 10px auto !important;

}

.profileHeader {
  color: white;
}

#personalInfo {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#personalInput {
  width: 90%;
  margin: 0 auto;
  height: 25px;
}

.profileImage {
  display: flex;
  padding-bottom: 10px;
  margin-top: 10px;
}

.aboutMe {
  width: 100%;
  border: 3px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
}

.cardText {
  display: flex;
  flex-direction: column;
}

.cardText > label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
  padding-left: 5%;
}

.userImg {
  max-width: 175px;
  border: 1px solid #88cef2;
  border-radius: 10px;
}

.personalTotals {
  width: 100%;
  border: 3px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.personalTotals p {
  font-size: 10px;
  margin: 0;
}

.personalTotals div {
  border: 1px solid gray;
  height: 40px;
}



/* personal best */
.bestCards {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bestCardLayout {
  width: 100%;margin-right: 10px !important;
  border: 3px solid grey;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}




@media only screen and (min-width: 600px) {
  .cardText > label {
      font-size: 14px;
  }
  .userImg {
    max-width: 225px;
  }
  .bestCards {
    flex-direction: row;
  }
  .bestCardLayout:nth-child(1) {
    margin-right: 10px;
    
  }
}

@media only screen and (min-width: 769px) {
  .personalTotals p {
    font-size: 15px;
  }

}

@media only screen and (min-width: 1024px) {
  .cardText > label {
      font-size: 18px;
  }
  .cardTitle {
    font-size: 22px;
  }
  .userImg {
    max-width: 325px;
  }
  .cardText button {
    width: 90%;
    margin: 10px auto 20px;
  }
  .personalTotals div {
    display: none;
  }
  .profileHeader {
    font-size: 40px;
  }
  .personalTotals {
    height: 60px;
  }
}


/* 
@media only screen and (min-width: 1200px) {
  .personalTotals p {
    font-size: 20px;
  }
}
 */



@media only screen and (min-width: 1200px) {
  #userProfilePage {
    margin: 30px auto !important;
    height: 100vh !important;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: unset;
    position: relative;
  }
  .profileImage {
    width: 30%;
    /* order: 1;
    margin-top: 20px !important;
    margin-left:100px; */
    position: absolute;
    height: 30vh;
    top: 25px;
    left: 100px;
  }
  .bestCards {
    position: absolute;
    flex-direction: column;
    /* order: 2; */
    width: 30%;
    left: 25px;
    bottom: 25px;
  }
  .bestCardLayout { 

    width: 350px;
    height: 30vh;
    padding-bottom: 15px !important;
    margin-left: 30px;
  }
  .bestCardLayoutDetails {
    font-size: 22px;
    line-height: 30px;
  }
  #personalInfo {
    width: 100%;
  }
  .userImg {
    max-width: 350px;
    max-height: 335px;
  }
  .aboutMe {
    width: 60%;
    /*        height: 82% ;
    order: 3;
    margin-top: 30px; */
    position: absolute;
    top: 45px;
    right: 50px;

  }

  .cardText button {
    margin-top: 30px;
  }
  .personalTotals {
    width: 60%;
    /* order: 4;
    margin-top: 15px; */
    position: absolute;
    bottom: 40px;
    right: 50px;
  }
  .personalTotals p {
    font-size: 25px;
    height: 50px;
    justify-content: center;
  }

}