.workouts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 90%;
    margin: 0 auto;
}

#workouts h1.fadeIn {
    color: white;
	animation: 2s fadeIn ease-in 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}