.highlights-ticker {
	position: relative;
	height: 60px;
	overflow: hidden;
}

.highlights-ticker .move {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 100%; /* nice #1 */
	height: 100%;
	position: absolute;
	left: 110%; /* nice #2 */
	animation: move 20s linear infinite;
}

@keyframes move {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}

.highlights-ticker h3 {
	margin: 0 20px;
	white-space: nowrap;
}
