.ppInfoDescription {
    /* border: 5px solid green; */
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDesc {
    border: 3px solid gray;
    border-radius: 25px;
    padding: 3%;
}

.cardDesText {
    font-size: 1.3rem;
    
}