#theExercise {
    opacity: .8;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    margin: auto;
}

#theExerciseDiv {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
     background-color: red;
}

#exerciseDescription {
    display: flex;
    flex-direction: column;
    
    background-color: lightblue;
    border-radius: 25px;   
}

#exerciseVid {
    display: flex;
    justify-content: center;

    background-color: lightgreen;
    border-radius: 25px;
    align-content: center;
}