.bestCards {
    /* border: 5px solid purple; */
    border-radius: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bestCardLayout {
    border: 3px solid grey;
    border-radius: 25px;
}

.bestCardLayoutTitle {
    text-align: center;
    margin: 5%;
    /* font-size: 1.7rem; */
    font-size: 1.5vw;
}

.bestCardLayoutDetails {
    text-align: center;
    margin: 3%;
    /* font-size: 1.5rem; */
    font-size: 1.2vw;
    line-height: 4.5vh;
    /* line-height: 3rem; */
}
