#mainBigDiv {
    width: 90%;
    height: 80vh;
    opacity: .8;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #56baed;
    margin: 40px auto 0;
}

#cardLayout {
    width: 100%; 
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* background-color: red; */
   /* padding-bottom: 56px; */
}


#theWorkout {
    display: flex;
    flex-direction: column;
    
    position: relative;
    border: 3px solid gray;
    border-radius: 10px;   
}

#theTimer {
    width: 45%; 
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid gray;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}


.section-headers {
    /* width: 98%;  */
    /* height: 10%; */
    margin: 15px;
    font-weight: bold;

}


.checkBoxes {
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: space-evenly;
}