#mainBigDiv {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #56baed;
    margin: 20px auto 0;
}

#cardLayout {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

#theWorkout {
    display: flex;
    flex-direction: column;  
    border-radius: 10px;  
    margin: 25px 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.section-headers {
    margin: 15px 0;
    font-weight: bold;
}