
.ppInfoImage {
    /* border: 5px solid orangered; */
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutMe {
    border: 3px solid gray;
    border-radius: 25px;
}

.cardTitle {
    text-align: center;
    /* font-size: 2rem; */
    font-size: 200%;
    /* margin: .5rem; */
}

.cardText {
    /* font-size: 1.5rem; */
    font-size: 140%;
    /* line-height: 3rem; */
    line-height: 200%;
    margin: 5%;
}

.userImg {
    border: 3px solid gray;
    border-radius: 25px;
}
