#header {
    height: 15%;
}

#header .navbar {
    height: 100%;
}

#header .navbar-brand {
    cursor: pointer;
}

#header .nav-link {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

#header .nav-link:hover {
    color: white;
}