
.ppInfoImage {
    position: absolute;
    /* width: 95%; 
    height: 58%;
    border: 5px solid orangered;
    border-radius: 25px; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutMe {
    width: 48%; 
    height: 85%;
    border: 3px solid gray;
    border-radius: 25px;
}

.cardTitle {
    text-align: center;
    font-size: 1.7vw;
}

.cardText {
    font-size: 1.3rem;
    margin: 3% 0 0 5%;
}

.userImg {
    width: 48%;
    height: 85%;
    border: 3px solid gray;
    border-radius: 25px;
}
