#quick-search {
	margin-top: 100px;
	background-color: var(--bs-primary);
	height: calc(100vh - 350px);
}

/* START testing section, can be ignored */
#quick-search .carousel-item:nth-child(1) {
	width: 100%;
	height: calc(50vh - 150px);
	/* background-color: blue; */
}

#quick-search .carousel-item:nth-child(2) {
	width: 100%;
	height: calc(50vh - 150px);
	/* background-color: red; */
}

#quick-search .carousel-item:nth-child(3) {
	width: 100%;
	height: calc(50vh - 150px);
	/* background-color: green; */
}
/* END testing section, can be ignored */

#quick-search .wrapper, .carousel-inner, .carousel-item {
	height: calc(100vh - 350px);
}

#quick-search .carousel-item {
	/* transition: transform .6s ease-in-out; */
	background-color: var(--bs-primary);
}

#quick-search .carousel-item button {
	background-color: var(--bs-white);
	color: black;
}

#quick-search .carousel-item button:hover, #quick-search .carousel-item button.active  {
	background-color: white;
	opacity: 1;
}

#quick-search #search-btn {
	background-color: green;
}

#quick-search .carousel-caption {
	color: black;
	background-color: orange;
}

#quick-search .carousel-indicators li {
	height: 20px;
	width: 100px;
	border: 0;
	border-radius: 10px;
	text-align: center;
	text-indent: 0;
	line-height: 100%;
	text-transform: capitalize;
}
