#main {
	position: relative;
	min-height: calc(100vh - 122px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-img {
	/* %PUBLIC_URL%/img/bg-home.jpg */
	background-image: url(https://images.unsplash.com/photo-1599058917727-824293170100?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);
	background-size: cover;
	background-position: center;
	height: 80vh;
	margin-top: 56px;
	margin-bottom: 56px;
	filter: blur(8px);
}

button {
	opacity: 0.7;
}
