.mainCounter {
    width: 100%; 
    border: 1px solid #56baed;
    text-align: center;
    border-radius: 10px;
}

.mainCounter h2 {
    margin: 0;
    display: block;
}

.roundsRemaining {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
}

.count {
font-size: 28px;
}

@media only screen and (min-width: 650px) {
    .mainCounter {
        padding: 10px 0;
    }
}
@media only screen and (min-width: 769px) {
  #roundAndInfo {
      display: flex;
  }
}
@media only screen and (min-width: 1024px) {
    .mainCounter {
        margin: 0 40px 15px;
    }
}

/****************************** Totals Styles ↓ ************************************/

.calAndDurationInfo {
    width: 100%; 
    margin-top: 5px;
    border: 1px solid #56baed;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.calAndDurationInfo p {
    margin: 0;
    padding: 5px;
    font-size: 17px;
}

@media only screen and (min-width: 650px) {
    .calAndDurationInfo {
        padding: 10px 0;
    }
}
@media only screen and (min-width: 769px) {
    .calAndDurationInfo {
        margin-top: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .calAndDurationInfo {
        margin: 0 40px 15px;
        font-size: 50px;
    }
    .calAndDurationInfo p {
        font-size: 20px;
    }
}
