.watchDiv {
    width: 100%;
    border-color: #56baed;
    border-style: solid;
    border-width: 1px 0;
    text-align: center;
    position: sticky;
    top: 55px;
    font-size: 35px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 0;
}

.watchDiv label {
    display: block;
    margin-bottom: -10px;
}

.watchDiv button {
    font-size: 16px;
    margin: 0 10px;
    /* opacity: 1; */
}

@media only screen and (min-width: 1024px) {
    .watchDiv {
        width: unset;
        margin: 0 40px;
        font-size: 45px;
        border-width: 1px;
        border-radius: 10px;
    }
    .watchDiv button {
        font-size: 20px;
        margin: 0 20px;
    }
}