.personalTotals {
    border: 3px solid gray;
    border-radius: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.personalTotals p {
    font-size: 1.4vw;
}

.personalTotals div {
    border: 1px solid gray;
}