
#roundNinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.mainCounter {
    border: 5px solid yellow;
    /* background-color: yellow; */
    text-align: center;
    border-radius: 25px;
    position: relative;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.roundsRemaining {
font-size: 1.5rem;
font-weight: bold;
padding: 1%;
}

.count {
font-size: 3rem;
}

